
    
    
    body{
        margin: 0px;
        padding: 0px;
    background-color: #3d75f0;
    background-position: top right ;
    
    
    }
    
    h1{
    color: #ffffff; /*headline*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    margin-left: 620px ;
    font-size: 100px;
    
    }

    .type1{
        width: px;
        display: block;
        margin: 1px auto;
        background-color: #1f3668;
        padding: 20px;
        border-radius: 100px;
    }

    h2{
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    margin-left: 50px;
    }

    
    a{
     color: aquamarine;
    margin:50px;
    font-size: 30px;
    

    }
    a:hover{
    color: #dd8080;
    }


    table{
    margin: 100px;
    }


    td{
        color: #ffffff;
   
        margin: 50px; 
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 25px;
        border-style: solid thin;
        border-radius: 50px;
        background-color: #305cbb;
        height: 300px;
        width: 600px;
        border: 20px solid rgb(53, 53, 172);
        padding: 20px;
        margin: 50px; 

    }

    div{
    color: #ffffff;
    font-size: 20px;
    background-color: #305cbb;
    border: 15px solid  rgb(53, 53, 172);
    margin:100px ;
    padding: 50px;
    border-radius: 50px;
    
    
    
    }

    nav{
    background-color: #1f3668;
    color: #ffffff;
    position: sticky;
    top:0px;
   
    }
    
    